<div id="blog_content" class="content hidden">
  <div class="row-fluid">
    <div class="offset2 span8">
      <h3 class="center">What am I thinking of?</h3>
    </div>
  </div>
  <hr/>
  <div class="row-fluid">
    <ul class="thumbnails">
      <h4 class="center">One day I will write something... :) </h3>
      {% for post in site.posts %}
      <li class="span4">
        <div class="">
          <a class="thumbnail" href="{{ post.url }}">
            <h4>{{ post.title }}</h4>{{ post.originalPostDate }}
            <p>{{ post.excerpt }}</p>
          </a>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
