<footer class="footer">
  <div class="container">
    <div class="row-fluid">
      <div class="span12">
        <a target="_blank" href="https://github.com/chrisngan24" ><img  class="img-link" src={{ site.url }}"/images/icons/github.png"></img></a>
        <a target="_blank" href="http://www.linkedin.com/pub/christopher-ngan/52/211/725" ><img class="img-link" src={{ site.url }}"/images/icons/linkedin.png"></img></a>
      </div>
    </div>
    <br/>
    <div class="row-fluid">
      <div class="span12">
        <p><small>Copyright 2016 | Christopher Ngan</small></p>
      </div>
    </div>
  </div>
</footer>
