<div id="about_content" class="content hidden">
  <div class="row">
    <div class="offset2 span8">
      <div class="">
        <h3 class="center">Who am I?</h3>

      </div>
    </div>
  </div>
  <hr/>
  <div class="row">
    <!--<div class="offset2 span2">
    </div>-->
    <div class="offset2 span8">
      <img src="images/headshot.png" class="headshot img-circle"></img>
      <p class="">Currently based in Toronto doing data science at Flipp. Always looking for an opportunity to learn and apply technical skills to interesting problems. Feel free to get in contact!</p>
    </div> 
  </div>
  <hr/>
</div>
