<div id="portfolio_content" class="content hidden">
  <div class="row-fluid">
    <div class="offset2 span8">
      <h3 class="center">What have I worked on?</h3>
    </div>
  </div>
  <hr/>
  <ul class="thumbnails">

    <li class="span4">{% include portfolio/robford.html %}</li>
    <li class="span4">{% include portfolio/yummly.html %}</li>
    <li class="span4">{% include portfolio/medidata.html %}</li>
  </ul>
  <ul class="thumbnails">
    <li class="span4">{% include portfolio/electricpiano.html %}</li>
    <li class="span4">{% include portfolio/myophysio.html %}</li>
    <li class="span4">{% include portfolio/manuscripter.html %}</li>
  </ul>
  <ul class="thumbnails">
    <li class="span4">{% include portfolio/talklight.html %}</li>
    <li class="span4">{% include portfolio/smartwatch.html %}</li>
    <li class="span4">{% include portfolio/website.html %}</li>
  </ul>
  <hr/>
  <div class="row-fluid">
    <div class="offset2 span8">
      <p class="center">There are other projects I have made, but they are not displayed here. Checkout my <a href="https://github.com/chrisngan24?tab=repositories" target="_blank">github</a> to see what else I have done and am currently doing!</a></p>
    </div>
  </div>
</div>
